body {
    background: #e48257;
    margin: 0px;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container {
    background: #3a6351;
    width: 100vw;
    height: 100vh;
}

#tabs {
    background: #e48257;
    height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(3, 150px) 1fr;
}

button {  /* might need to change this to a class */
    background: #f2edd7;
    width: 75%;
    height: 75%;
    margin: auto;
    border: 0px solid #393232; 
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover {
    background: rgba(242,237,215, 0.75);
}

.selected {
    text-decoration: underline;
}

#homeTabDiv {
    width: 100%;
    height: 100%;
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
}

#menuTabDiv {
    width: 100%;
    height: 100%;
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
}

#contactTabDiv {
    width: 100%;
    height: 100%;
    grid-area: 1 / 4 / 2 / 5;
    display: flex;
}

#content {
    background: #f2edd7;
    width: 750px;
    height: min(700px); /* might be a problem */
    margin: 30px auto 30px auto;
    border-radius: 30px;
}

#footer {
    background: #e48257;
    height: 30px;
    width: 100%;
}