body {
    background: #e48257;
    margin: 0px;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container {
    background: #3a6351;
    width: 100vw;
}

#tabs {
    background: #e48257;
    height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(3, 150px) 1fr;
}

button { 
    background: #f2edd7;
    width: 75%;
    height: 75%;
    margin: auto;
    border: 0px solid #393232; 
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover {
    background: rgba(242,237,215, 0.75);
}

.selected {
    text-decoration: underline;
}

#homeTabDiv {
    width: 100%;
    height: 100%;
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
}

#menuTabDiv {
    width: 100%;
    height: 100%;
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
}

#contactTabDiv {
    width: 100%;
    height: 100%;
    grid-area: 1 / 4 / 2 / 5;
    display: flex;
}

#content {
    background: #f2edd7;
    width: 750px;
    margin: 30px auto 30px auto;
    padding: 20px;
    border-radius: 30px;
}

#footer {
    background: #e48257;
    height: 30px;
    width: 100%;
}

#TitleDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

#DescriptionDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

#Description {
    white-space: pre;
}

.puppyPhotoDiv {
    width: 100%;
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
}

.puppyPhoto {
    width: 600px;
    border: solid 3px #393232;
    border-radius: 20px;
}

.menuItemDiv {
    margin: 20px;
    border: solid 3px #393232;
    border-radius: 20px;
    display: flex;
}

.iceCreamPhoto {
    width: 300px;
    margin: 20px;
    border-radius: 20px;
}

.menuItemDescriptionDiv {
    margin: 20px;
}

#treasureMapPhotoDiv {
    width: 100%;
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
}

#treasureMapPhoto {
    width: 700px;
    border: solid 3px #393232;
    border-radius: 20px;
}

#footer {
    display: flex;
    justify-content: center;
}

.footerList {
    color: black;
    white-space: pre;
    margin: 0px 80px 0px 80px;
}

a {
    color: #393232;
}

a:hover {
    color: #f2edd7;
}